{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2016-03-11",
    "endpointPrefix": "restjson",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "JsonProtocolTests",
    "serviceFullName": "AWS DR Tools JSON Protocol Tests",
    "signatureVersion": "v4",
    "targetPrefix": "ProtocolTestsService",
    "timestampFormat": "unixTimestamp"
  },
  "operations": {
    "AllTypes": {
      "name": "AllTypes",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/allTypes"
      },
      "input": {
        "shape": "AllTypesStructure"
      },
      "output": {
        "shape": "AllTypesStructure"
      },
      "errors": [
        {
          "shape": "EmptyModeledException"
        }
      ]
    },
    "HeadOperation": {
      "name": "HeadOperation",
      "http": {
        "method": "HEAD",
        "requestUri": "/2016-03-11/headOperation"
      }
    },
    "MapOfStringToListOfStringInQueryParams": {
      "name": "MapOfStringToListOfStringInQueryParams",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/mapOfStringToListOfStringInQueryParams"
      },
      "input": {
        "shape": "MapOfStringToListOfStringInQueryParamsInput"
      }
    },
    "MembersInHeaders": {
      "name": "MembersInHeaders",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/membersInHeaders"
      },
      "input": {
        "shape": "MembersInHeadersInput"
      },
      "output": {
        "shape": "MembersInHeadersInput"
      }
    },
    "MembersInQueryParams": {
      "name": "MembersInQueryParams",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/membersInQueryParams"
      },
      "input": {
        "shape": "MembersInQueryParamsInput"
      }
    },
    "MultiLocationOperation": {
      "name": "MultiLocationOperation",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/multiLocationOperation/{PathParam}"
      },
      "input": {
        "shape": "MultiLocationOperationInput"
      }
    },
    "NestedContainers": {
      "name": "NestedContainers",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/nestedContainers"
      },
      "output": {
        "shape": "NestedContainersStructure"
      }
    },
    "OperationWithExplicitPayloadBlob": {
      "name": "OperationWithExplicitPayloadBlob",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/operationWithExplicitPayloadBlob"
      },
      "input": {
        "shape": "OperationWithExplicitPayloadBlobInput"
      },
      "output": {
        "shape": "OperationWithExplicitPayloadBlobInput"
      }
    },
    "OperationWithExplicitPayloadStructure": {
      "name": "OperationWithExplicitPayloadStructure",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/operationWithExplicitPayloadStructure"
      },
      "input": {
        "shape": "OperationWithExplicitPayloadStructureInput"
      },
      "output": {
        "shape": "OperationWithExplicitPayloadStructureInput"
      }
    },
    "OperationWithGreedyLabel": {
      "name": "OperationWithGreedyLabel",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/operationWithGreedyLabel/{NonGreedyPathParam}/{GreedyPathParam+}"
      },
      "input": {
        "shape": "OperationWithGreedyLabelInput"
      }
    },
    "OperationWithNoInputOrOutput": {
      "name": "OperationWithNoInputOrOutput",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/operationWithNoInputOrOutput"
      }
    },
    "QueryParamWithoutValue": {
      "name": "QueryParamWithoutValue",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/queryParamWithoutValue?param"
      },
      "input": {
        "shape": "QueryParamWithoutValueInput"
      }
    },
    "StreamingOperation": {
      "name": "StreamingOperation",
      "http": {
        "method": "POST",
        "requestUri": "/2016-03-11/streamingOperation"
      },
      "input": {
        "shape": "StreamingOperationStructure"
      },
      "output": {
        "shape": "StreamingOperationStructure"
      }
    }
  },
  "shapes": {
    "AllTypesStructure": {
      "type": "structure",
      "members": {
        "StringMember": {
          "shape": "String"
        },
        "IntegerMember": {
          "shape": "Integer"
        },
        "BooleanMember": {
          "shape": "Boolean"
        },
        "FloatMember": {
          "shape": "Float"
        },
        "DoubleMember": {
          "shape": "Double"
        },
        "LongMember": {
          "shape": "Long"
        },
        "SimpleList": {
          "shape": "ListOfStrings"
        },
        "ListOfMaps": {
          "shape": "ListOfMapStringToString"
        },
        "ListOfStructs": {
          "shape": "ListOfSimpleStructs"
        },
        "MapOfStringToIntegerList": {
          "shape": "MapOfStringToIntegerList"
        },
        "MapOfStringToString": {
          "shape": "MapOfStringToString"
        },
        "MapOfStringToStruct": {
          "shape": "MapOfStringToSimpleStruct"
        },
        "TimestampMember": {
          "shape": "Timestamp"
        },
        "StructWithNestedTimestampMember": {
          "shape": "StructWithTimestamp"
        },
        "BlobArg": {
          "shape": "BlobType"
        },
        "StructWithNestedBlob": {
          "shape": "StructWithNestedBlobType"
        },
        "BlobMap": {
          "shape": "BlobMapType"
        },
        "ListOfBlobs": {
          "shape": "ListOfBlobsType"
        },
        "RecursiveStruct": {
          "shape": "RecursiveStructType"
        },
        "PolymorphicTypeWithSubTypes": {
          "shape": "BaseType"
        },
        "PolymorphicTypeWithoutSubTypes": {
          "shape": "SubTypeOne"
        }
      }
    },
    "BaseType": {
      "type": "structure",
      "members": {
        "BaseMember": {
          "shape": "String"
        }
      }
    },
    "BlobMapType": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "BlobType"
      }
    },
    "BlobType": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Double": {
      "type": "double"
    },
    "EmptyModeledException": {
      "type": "structure",
      "members": {
      },
      "exception": true
    },
    "Float": {
      "type": "float"
    },
    "Integer": {
      "type": "integer"
    },
    "ListOfBlobsType": {
      "type": "list",
      "member": {
        "shape": "BlobType"
      }
    },
    "ListOfIntegers": {
      "type": "list",
      "member": {
        "shape": "Integer"
      }
    },
    "ListOfListOfListsOfStrings": {
      "type": "list",
      "member": {
        "shape": "ListOfListsOfStrings"
      }
    },
    "ListOfListsOfStrings": {
      "type": "list",
      "member": {
        "shape": "ListOfStrings"
      }
    },
    "ListOfMapStringToString": {
      "type": "list",
      "member": {
        "shape": "MapOfStringToString"
      }
    },
    "ListOfSimpleStructs": {
      "type": "list",
      "member": {
        "shape": "SimpleStruct"
      }
    },
    "ListOfStrings": {
      "type": "list",
      "member": {
        "shape": "String"
      }
    },
    "Long": {
      "type": "long"
    },
    "MapOfStringToIntegerList": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "ListOfIntegers"
      }
    },
    "MapOfStringToListOfListsOfStrings": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "ListOfListsOfStrings"
      }
    },
    "MapOfStringToListOfStringInQueryParamsInput": {
      "type": "structure",
      "members": {
        "MapOfStringToListOfStrings": {
          "shape": "MapOfStringToListOfStrings",
          "location": "querystring"
        }
      }
    },
    "MapOfStringToListOfStrings": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "ListOfStrings"
      }
    },
    "MapOfStringToSimpleStruct": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "SimpleStruct"
      }
    },
    "MapOfStringToString": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "String"
      }
    },
    "MembersInHeadersInput": {
      "type": "structure",
      "members": {
        "StringMember": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-string"
        },
        "BooleanMember": {
          "shape": "Boolean",
          "location": "header",
          "locationName": "x-amz-boolean"
        },
        "IntegerMember": {
          "shape": "Integer",
          "location": "header",
          "locationName": "x-amz-integer"
        },
        "LongMember": {
          "shape": "Long",
          "location": "header",
          "locationName": "x-amz-long"
        },
        "FloatMember": {
          "shape": "Float",
          "location": "header",
          "locationName": "x-amz-float"
        },
        "DoubleMember": {
          "shape": "Double",
          "location": "header",
          "locationName": "x-amz-double"
        },
        "TimestampMember": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-timestamp"
        }
      }
    },
    "MembersInQueryParamsInput": {
      "type": "structure",
      "members": {
        "StringQueryParam": {
          "shape": "String",
          "location": "querystring",
          "locationName": "String"
        },
        "BooleanQueryParam": {
          "shape": "Boolean",
          "location": "querystring",
          "locationName": "Boolean"
        },
        "IntegerQueryParam": {
          "shape": "Integer",
          "location": "querystring",
          "locationName": "Integer"
        },
        "LongQueryParam": {
          "shape": "Long",
          "location": "querystring",
          "locationName": "Long"
        },
        "FloatQueryParam": {
          "shape": "Float",
          "location": "querystring",
          "locationName": "Float"
        },
        "DoubleQueryParam": {
          "shape": "Double",
          "location": "querystring",
          "locationName": "Double"
        },
        "TimestampQueryParam": {
          "shape": "Timestamp",
          "location": "querystring",
          "locationName": "Timestamp"
        },
        "ListOfStrings": {
          "shape": "ListOfStrings",
          "location": "querystring",
          "locationName": "item"
        },
        "MapOfStringToString": {
          "shape": "MapOfStringToString",
          "location": "querystring"
        }
      }
    },
    "MultiLocationOperationInput": {
      "type": "structure",
      "required": [
        "PathParam"
      ],
      "members": {
        "PathParam": {
          "shape": "String",
          "location": "uri",
          "locationName": "PathParam"
        },
        "QueryParamOne": {
          "shape": "String",
          "location": "querystring",
          "locationName": "QueryParamOne"
        },
        "QueryParamTwo": {
          "shape": "String",
          "location": "querystring",
          "locationName": "QueryParamTwo"
        },
        "StringHeaderMember": {
          "shape": "String",
          "location": "header",
          "locationName": "x-amz-header-string"
        },
        "TimestampHeaderMember": {
          "shape": "Timestamp",
          "location": "header",
          "locationName": "x-amz-timearg"
        },
        "PayloadStructParam": {
          "shape": "PayloadStructType"
        }
      }
    },
    "NestedContainersStructure": {
      "type": "structure",
      "members": {
        "ListOfListsOfStrings": {
          "shape": "ListOfListsOfStrings"
        },
        "ListOfListOfListsOfStrings": {
          "shape": "ListOfListOfListsOfStrings"
        },
        "MapOfStringToListOfListsOfStrings": {
          "shape": "MapOfStringToListOfListsOfStrings"
        }
      }
    },
    "OperationWithExplicitPayloadBlobInput": {
      "type": "structure",
      "members": {
        "PayloadMember": {
          "shape": "BlobType"
        }
      },
      "payload": "PayloadMember"
    },
    "OperationWithExplicitPayloadStructureInput": {
      "type": "structure",
      "members": {
        "PayloadMember": {
          "shape": "SimpleStruct"
        }
      },
      "payload": "PayloadMember"
    },
    "OperationWithGreedyLabelInput": {
      "type": "structure",
      "required": [
        "NonGreedyPathParam",
        "GreedyPathParam"
      ],
      "members": {
        "NonGreedyPathParam": {
          "shape": "String",
          "location": "uri",
          "locationName": "NonGreedyPathParam"
        },
        "GreedyPathParam": {
          "shape": "String",
          "location": "uri",
          "locationName": "GreedyPathParam"
        }
      }
    },
    "PayloadStructType": {
      "type": "structure",
      "members": {
        "PayloadMemberOne": {
          "shape": "String"
        },
        "PayloadMemberTwo": {
          "shape": "String"
        }
      }
    },
    "QueryParamWithoutValueInput": {
      "type": "structure",
      "members": {
      }
    },
    "RecursiveListType": {
      "type": "list",
      "member": {
        "shape": "RecursiveStructType"
      }
    },
    "RecursiveMapType": {
      "type": "map",
      "key": {
        "shape": "String"
      },
      "value": {
        "shape": "RecursiveStructType"
      }
    },
    "RecursiveStructType": {
      "type": "structure",
      "members": {
        "NoRecurse": {
          "shape": "String"
        },
        "RecursiveStruct": {
          "shape": "RecursiveStructType"
        },
        "RecursiveList": {
          "shape": "RecursiveListType"
        },
        "RecursiveMap": {
          "shape": "RecursiveMapType"
        }
      }
    },
    "SimpleStruct": {
      "type": "structure",
      "members": {
        "StringMember": {
          "shape": "String"
        }
      }
    },
    "StreamType": {
      "type": "blob",
      "streaming": true
    },
    "StreamingOperationStructure": {
      "type": "structure",
      "members": {
        "StreamingMember": {
          "shape": "StreamType"
        }
      },
      "payload": "StreamingMember"
    },
    "String": {
      "type": "string"
    },
    "StructWithNestedBlobType": {
      "type": "structure",
      "members": {
        "NestedBlob": {
          "shape": "BlobType"
        }
      }
    },
    "StructWithTimestamp": {
      "type": "structure",
      "members": {
        "NestedTimestamp": {
          "shape": "Timestamp"
        }
      }
    },
    "SubTypeOne": {
      "type": "structure",
      "members": {
        "SubTypeOneMember": {
          "shape": "String"
        }
      }
    },
    "Timestamp": {
      "type": "timestamp"
    }
  }
}
