{
    "verifiedSimpleMethods" : [
        "allTypes",
        "deleteOperation",
        "mapOfStringToListOfStringInQueryParams",
        "membersInHeaders",
        "membersInQueryParams",
        "operationWithExplicitPayloadBlob",
        "operationWithModeledContentType",
        "queryParamWithoutValue",
        "idempotentOperation",
        "queryTypes"
    ],
    // The tests expect lists of work "normally", .e.g any empty list marshalled as empty list, etc.
    "useAutoConstructList": false
}
